/*Over-writing css on Index page*/
.main-green-button a {
  display: inline-block;
  background-color: #379f91;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border-bottom: 2px solid #f4b37d!important;
  transition: all .3s;
}

.main-green-button a:hover {
  background-color: #f4b37d!important;
  color: #fff!important;
  border-bottom: 2px solid #379f91!important;
}

.columnIndex {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.colSm4 {
  flex: 0 0 auto;
  width: 100%;
}

.rowIndex {
  --bs-gutter-x: 1 em;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

h5 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #1f77be;
  z-index: 2;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  border-top: 1px solid rgb(73, 74, 122);
  margin-top: 30px;
  padding-top: 20px;
  margin-bottom: 45px;
  font-size: 40px;
  font-weight: 800;
  color: #2a2a2a;
  line-height: 72px;
  background: #5e93be;
  background: -webkit-linear-gradient(to right, #5e93be 0%, #1f77be 100%);
  background: -moz-linear-gradient(to right, #5e93be 0%, #1f77be 100%);
  background: linear-gradient(to right, #5e93be 0%, #1f77be 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Over-writing css on Services page*/
.line-service {
  width: 100px;
  height: 2px;
  margin: 30px auto;
  transition: all 0.5s;
  background-color: #f4b37d;
}

.featureService {
  text-align: center;
  padding: 30px;
  border-radius: 50px;
  background: rgb(255,255,255);
  background: linear-gradient(105deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  -moz-transition: background-color .5s;
}

.featureService .number h6 {
  background-repeat: no-repeat;
  background-color: #f4b37d;
  width: 110px;
  height: 69px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 69px;
  margin-top: -65px;
  margin-bottom: 30px;
}

/* */








/* ---------------------------------------------XXX---------------XXXX------------------------------------ */



.row2 > * {
    box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}


.column2 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column2 {
    width: 100%;
    display: block;
  }
}
/*--------------profile picture  container--------------*/
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 17px;
background-color: #FFEDDE;
}

.container2 {
  padding: 0 16px;
}

.container2::after, .row2::after {
  content: "";
  clear: both;
  display: table;
}

.title2 {
  color: grey;
}
/*----------------profile image--------------------*/
.profileimage {
  width: 20%;
padding: 8px;
border-radius: 5%;
}
.button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #f4b37d;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 50%;
}

.button2:hover {
  background-color: #0d6efd;

}


/* ----------------------------------------XXXX3XXX-----------------------------------------*/
#footer {
    position:relative;
    overflow: hidden;
    bottom:0;
    text-align: left;
}


.wrap2 {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background: #436e96;
  color: #edd5a5;

}
#footer h3 a,
#footer h3 p {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.left2 {
    float: left;
    width: 25%;
}
.right2 {
    float: right;
    width: 25%;
    font-size:2vw;
}
.right2 h3{
  font-size:1.5vw;}
.centered2 {
    overflow: hidden; /* claim the left over width between these 25% floats */
}
.social2 {
    float: right;
    width: 50%; /* of the squished parent width */
    font-size:1.5vw;
}
input2 {
    font-size: 100%;
}
.subscribe_button2 {
    margin: 0;
    padding: 14px 0;
    min-width: 200px;
    color: #fff;
    background-color: #6d9773;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size:10px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.Pricingtail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
border-radius: 50%;
}


/*----------XXXX--------------------------------------------XXXXXXX-----------------------------------------XXX-----*/
/* 
---------------------------------------------
project example page
--------------------------------------------- 
*/
.section-h {
  margin-bottom: 20px;
}

.section-h h6 {
  font-size: 15px;
  font-weight: 700;
  color: #002fa7;
  text-transform: uppercase;
  margin-bottom: 15px;

}

.section-h h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: #67abda;
  font-weight: 800;
  position: relative;
  z-index: 2;
  line-height: 45px;
}
.col-lg-3{
max-width:100%;}

.col-lg-3 p {
	text-align:center;
	}
.col-lg-4 {
    flex: auto;
    width: 100%;
    padding:10px;
  }
.col-lg-8 {
    flex: auto;
    width: 100%;
  }

.newclass{
text-align:center;
border:solid;
width:50%;
border-radius:40px;
border-color:#c9827c;
margin:auto;
padding:20px;}
.newclass p{color:#ac4a47;
font-weight:bold;
font-size:1.5vw;
}

/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/
.our-services {
  padding-top: 50px;
  
}


.our-services .container-fluid {
  padding: 20px;
  width:50%;

}

.service-item {
  padding:30px 50px;
  border: 2px solid #f7f7f7;
  border-radius: 50px;
  width:100%;
  transition: all .3s;
  margin-bottom: 30px;
  box-sizing:border-box;
}

.service-item:hover {
  background-color: #fff;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.service-item .right-content {
    display: none;
	text-align:center;
  }
.service-item  img {
	height:auto;
    max-width: 100%;
	width:auto;
	margin-left: auto;
    margin-right: auto;
}

.service-item h4 {
  font-size: 22px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 15px;
  text-align:center;
}
 .service-item p {
  text-align:center;
}


/*contact page*/
.contact-us {
background-image:none;
padding:50px;
margin-top:50px;}

form#contact {
  position: relative;
  background-color: #fff;
  padding: 60px 80px;
  border-radius: 50px;
  border:5px solid #8fbcdb;
  text-align: center;
}
form#contact button{
background-color:#ac4a47;
}
form#contact button:hover {
background-color: #f4b37d!important;}


@media (max-width: 992px) {

  .main-banner .left-content {
    margin-right: 0px;
  }
  .main-banner {
    text-align: center;
  }
  .main-banner:before {
    display: none;
  }
  .main-banner .right-image {
    margin: 30px auto 0px auto;
    text-align: center;
  }
  .features-item {
    margin-bottom: 45px;
  }
  .last-features-item,
  .last-skill-item {
    margin-bottom: 0px !important;
  }
  .skill-item {
    margin-bottom: 30px;
  }
  .service-item {
    text-align: center;
  }
  .service-item .icon {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .about-us .left-image {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 45px;
  }
  .our-portfolio .owl-nav {
    display: none !important;
  }
  .contact-info {
    margin-top: 60px;
  }
  form#contact {
    padding: 45px;
  }
}

@media (max-width: 767px) {

  .service-item {
    text-align: center;
    padding: 30px;
  }

  .our-services .section-h {
    margin-left: 15px;
    margin-right: 15px;
  }

  form#contact {
    padding: 30px;
  }

}

/*header*/
.header {padding: 20px;
  text-align: center;
;
}
.header h2{
color:#054f74;
font-size:3vw;
  font-style: italic;
  font-weight:bold;
}
/*navbar*/
ul.topnav {
  list-style-type: none;
  margin-top: 5px;
  padding: 0;
  overflow: hidden;
  position:relative;
  padding:5px;
  background-color: #436e96;
  font-size:20px;
}

ul.topnav li {float: left;}

ul.topnav li a {
display:block;
  color: #edefe8;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}


ul.topnav li a:hover{color:black;}
ul.topnav li a.active {border-bottom: 3px solid white;color:#edd5a5;font-weight:bold;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 780px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  col.lg-8 h4{font-size:2vw;}
}

.button3{
  background-color:#f0e9e4;
  color:black;
  display:inline-block;
  text-align:center;
  text-decoration:none;
  border:none;
  padding: 5px 10px;

}

@media screen and (max-width: 800px) {
  .left2, .centered2, .right2
      {width: 100%;}
	}
